<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974860032238-gjd0pda0hrfjbqirfma167dn5a6b8vae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974860032238-gjd0pda0hrfjbqirfma167dn5a6b8vae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974860032238-dlioo5tc93v27u0ed5gf2jvt6pat8j68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDLkvSE5DQA8EVABsYcaRA7nBWoFNagiY</string>
	<key>GCM_SENDER_ID</key>
	<string>974860032238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.train</string>
	<key>PROJECT_ID</key>
	<string>train-fda1f</string>
	<key>STORAGE_BUCKET</key>
	<string>train-fda1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974860032238:ios:4831a571084665cff3bbff</string>
</dict>
</plist>